:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;

  --green: #57713d;
  --green-light: #81c784;
  --beige: #f5f5dc;
  --text-dark: #333333;
  --white: #ffffff;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}
